@import 'theme.css';       /* for the Read the Docs theme */


/*Typography*/

p {font-size: 20px!important;
    line-height: 28px!important;
}

a {
    color: #393f4f;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #2b90d9;
}

a:visited {
    color: #393f4f;
}



/* Sidebar Customizations */

.wy-side-nav-search {
    background-color: #393f4f;
}

.wy-nav-side {
    background-color: #212122;
}


.wy-side-nav-search {
    border-radius: 0px;
    font-size: 16px;
}

.wy-menu-vertical a {
    font-size: 100%;
}